@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap');

/*Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/
.main-header{
    /*Adiciona imagem no fundo*/
    background-image: url(images/background-image.png);
    /*Alinha os elementos nos eixos x e y*/
    background-position: 50% 39%;
    /*Colocar os elementos centralizado*/
    display: flex;
    /*alinha os elementos um embaixo do outro*/
    flex-direction: column;
    /*centraliza os elementos*/
    align-items: center;
}

.main-nav{
    /*ocupar toda area disponivel*/
    width: 100%;
    
}

.header-list-container{
    /*Colocar os elementos na mesma linha*/
    display: flex;
    /*adiciona espaçamento entre os intens*/
    justify-content: space-between;
    /*garantir que fiquem alinhados na mesma linha*/
    align-items: center;
    /*primeiro é cima e baixo, segindo é esquerda e direita*/
    padding: 16px 0;
}

.nav-item{
    /*remove as bolinhas padrao dos elementos li*/
    list-style-type:none;
    /*deixar todas as letras em maiusculos*/
    text-transform: uppercase;
    color: #00008D;

}

.nav-item a{
    /*remove o underline do ancora*/
    text-decoration: none;
    /*herda a cor de elemento pai(neste caso o nav-item)*/
    color: inherit;

}
.nav-item:hover{
    /*quando passar o mouse por cima trocar a cor*/
    color: rgba(0,0,139,0.7);
    transition: 0.20s;
}

hr{
    /*ocupar toda area disponivel*/
    width: 100%;

}

.main-about{
padding: 40px 0 64px;

}
.container{
    /*trava a largura maxima que definimos para o projeto*/
    max-width: 600px;
    /*primeiro é cima e baixo, segindo é esquerda e direita*/
    padding: 0 16px;
    /*nao aplica cima/baixo, o auto distribui o maximo possivel para esquerda e direita*/
    margin: 0 auto
}

.about-title{
    /*pega fonte importada, caso ele nao encontre ten a 2° opição*/
    font-family: "Raleway", sans-serif;
    /*tamanho da fonte*/
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;

}

.about-image{
    /*ALINHA A IMAGEM ESQUERDA E O TEXTO A DIREITA */
    float: left;
    /*0 no topo, 20 a direita, 10 baixa, 0 esquerda*/
    margin: 0 20px 10px;
    /*diminuir o tamnaho das imagens*/
    width: 200px; /*Largura*/
    height: auto; /*evita a distoção da imagem*/
    
}